@media (max-width: 1440px) {
    .container {
        width: 90%
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero{
        justify-content: center;
        flex-direction: column;
    }
    .hero div {
        padding-bottom: 40px;
    }
    .about{
        justify-content: center;
        flex-direction: column;
    }
    .about-img{
        padding-bottom: 40px;

    }
    .produck-block{
        width: 270зч;
    }

}

@media (max-width: 992px) {

}


@media (max-width: 768px) {
{}
}

@media (max-width: 576px) {

}

@media (max-width: 450px) {

}

@media (max-width: 400px) {


}

@media (max-width: 375px) {

}

@media (max-width: 320px) {


}




